################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug
/benchmarks/Faster.Map.Benchmark/obj
/benchmarks/Faster.Map.Benchmark/bin
/benchmarks/Faster.Map.Concurrent.Benchmark/obj
/benchmarks/Faster.Map.Concurrent.Benchmark/bin/Release/net6.0
/tests/bin
/tests/obj
*.gitignore
/.gitignore
/.gitignore
/benchmarks/Faster.Map.Concurrent.Benchmark/bin/Debug/net7.0
/benchmarks/Faster.Map.Concurrent.Benchmark/bin/Release/net7.0
/src/obj
