name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore Faster.Map.sln

      - name: Build
        run: dotnet build Faster.Map.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test Faster.Map.sln --configuration Release --no-build --verbosity normal
